# JSON Web Tokens are used to authenticate third-party tools which uses the
# API. It acts as a "global" password for tools, since they need to know the
# JWT_SECRET used in the server, to be logged and generate a JWT for them.
JWT_SECRET=d3dddbf4-1f0a-4c22-aacc-796487717aa0

# Port to use, by default uses :4000
API_PORT=4000

# Should enable CORS (true/false)? If true, make sure to add addresses to whitelist.
ENABLE_CORS=true

# Add full domains to whitelist, separated by commas (no space).
CORS_WHITELIST=https://google.com,https://example.com

# Connection string to the Mongo database. A Mongo connection string is formed
# like this: mongodb://<MONGO_DB_IP>:27017/<database-name>
#
# https://docs.mongodb.com/manual/reference/connection-string/
MONGO_URI=mongodb://0.0.0.0:27017/example-database

# If using Sentry (application monitoring & error reporting), define your
# Sentry project DSN key here.
SENTRY_DSN=https://exampleurl@test.ingest.sentry.io/project-id

# Is using Sentry, you can provide the release version. This release version is
# used to properly map Sentry issues with your uploaded coded using
# source-maps.
#
# This variable is only used on Sentry init, and can be independent due to the
# way you organize your versioning.
#
# https://docs.sentry.io/platforms/node/sourcemaps/#making-source-maps-available-to-sentry
SENTRY_RELEASE=my-project@0.1.0

# Sentry integration auth-token used by the CLI in order to create a new
# release.
SENTRY_TOKEN=my-integration-token

# Slug of the Sentry organization.
SENTRY_ORG=my-sentry-org-name

# Slug of the Sentry project.
SENTRY_PROJECT=my-sentry-project-name
